@mainColor:#006699;

#header {
    height: 45px;
    width: 100%;
    background-color: @mainColor;

    h4 {
        text-align: center;
        line-height: 45px;
        font-weight: normal;
        color: #fff;
        margin: 0;

    }
    a {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
    }
}